!!!
%html
  %head
    %title _DD: What do you practice?
    = stylesheet_link_tag :all
    = csrf_meta_tag
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/1.5.2/jquery.min.js", :type => "text/javascript"}
    = javascript_include_tag 'application', 'rails'
  %body
    #body
    %ul  
      - @disciplines.each do |discipline|
        %li{:"data-id" => discipline.id, :class => "#{'good' if discipline.good} #{'highlight' if discipline.highlight} #{'ignored' if discipline.ignore}"}
          .tweet 
            - if discipline.ignore?
              = link_to "Unignore", unignore_discipline_path(discipline), :method => :post, :remote => true
            - else
              = link_to "Ignore", ignore_discipline_path(discipline), :method => :post, :remote => true
            = link_to "Highlight", highlight_discipline_path(discipline), :method => :post  , :remote => true
            = link_to "Awesome", awesome_discipline_path(discipline), :method => :post, :remote => true
            = link_to "Good", good_discipline_path(discipline), :method => :post, :remote => true
          .practice= discipline.line
          .tagline= discipline.tagline.blank? ? link_to("add tagline!", "#", :class => "missing-tagline", :"data-initial" => discipline.initial, :"data-expanded" => discipline.expanded) : discipline.tagline